@media (min-width: 768px) and (max-width: 1024px) {
  .banner {
    .main-header {
      .head {
        font-size: 50px;
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .top-bar {
    .first {
      .left {
        p {
          font-size: 17px;
        }
      }
    }

    .next {
      button {
        width: 15px;
      }
    }
  }

  .banner {
    .main-header {
      flex-direction: column;
      .head {
        margin-right: 0;
      }
      .nav {
        a {
          padding: 2px;
          font-weight: 100;
          font-size: 7px;
        }
      }
    }
  }

  .about {
    .heading {
      h2 {
        font-size: 20px;
      }
      p {
        font-size: 12px;
        padding: 0px 7%;
      }
    }
    .work {
      flex-wrap: wrap;
      .item {
        width: 50%;
      }
    }
  }

  .services {
    .heading {
      h2 {
        font-size: 20px;
      }
      p {
        font-size: 12px;
        padding: 0px 7%;
      }
    }
    .services-provided {
      justify-content: space-between;
      width: 90%;
      .data {
        width: 43%;
        padding: 12px 0;
      }
    }
  }

  .projects {
    .heading {
      h2 {
        font-size: 20px;
      }
      p {
        font-size: 12px;
        padding: 0px 7%;
      }
    }

    .project-nav {
      .project-ul {
        .project-items {
          a {
            font-size: 9px;
            margin: 0px 4px;
          }
        }
      }
    }

    .design {
      width: 90%;
      padding: 5px 0;
      .new-design {
        width: 44%;
      }
    }
  }
  .latest-blog {
    .heading {
      h2 {
        font-size: 20px;
      }
      p {
        font-size: 12px;
        padding: 0px 7%;
      }
    }

    .blog-content {
      width: 90%;
      .blog-item {
        width: 44%;
        padding: 5px 0;
      }
    }
  }

  .client {
    .logo {
      width: 90%;
      padding: 30px 0;
      
      .logo-img{
        width: 20%;
      }
    }
  }

  .contact-info{
    .info{
      width: 90%;
      padding: 5px 0;
      flex-direction: column;
      .contact,.location{
        width: 100%;
      }
    }
  }

  .connect-us{
    .message{
      width: 90%;
      h2{
        font-size: 20px;
      }
      .form-validation{
        .form{
          flex-direction: column;
          .name,.box{
            width: 100%;
            margin:0;
          }
        }
      }
    }
  }

  .footer{
    .footer-design{
      width: 90%;
    }
  }
}
