$red:rgb(173, 6, 6);
$white:white;
$green:rgb(54, 223, 54);
$black:black;
$grey:rgb(48, 44, 44);
$col:rgb(166, 164, 164);

$blue:blue;
$skyblue:skyblue;
$purple:rgb(151, 92, 151);
$orange:rgba(183, 122, 10, 0.697);
$light:#f8f6f6;
$font:'Oswald', sans-serif;
$font2:'Great Vibes', cursive;